In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use('fivethirtyeight')
import requests
import json
import citipy as citipy
import openweathermapy.core as owm
import pickle 
import csv

In [2]:
# Import cities file as DataFrame
cities_pd = pd.read_csv("worldcities.csv")
cities_pd.head()

  Country              City   Latitude  Longitude
0      ad  andorra la vella  42.500000   1.516667
1      ad           canillo  42.566667   1.600000
2      ad            encamp  42.533333   1.583333
3      ad        la massana  42.550000   1.516667
4      ad      les escaldes  42.500000   1.533333

In [3]:
random_cities=cities_pd.sample(550,replace=True)
random_out=open("random.pkl",'wb')
pickle.dump(random_cities,random_out)
random_out.close()

In [4]:
random_in=open("random.pkl","rb")
random_cities=pickle.load(random_in)
random_cities.head()

      Country       City   Latitude   Longitude
28286      ph  hinabuyan  11.238300  124.404700
13766      gr   kiprinos  41.575556   26.230556
13019      gb  wakefield  53.700000   -1.483333
23690      mx    cuanajo  19.483333 -101.516667
1951       bg      godec  43.015000   23.044167

In [5]:
random_cities["Temperature (F)"] = ""
random_cities["Humidity"] = ""
random_cities["Cloudiness"] = ""
random_cities["Wind Speed (mph)"] = ""
random_cities.head()

,Country,City,Latitude,Longitude,Temperature (F),Humidity,Cloudiness,Wind Speed (mph)
28286,ph,hinabuyan,11.238300,124.404700,,,,
13766,gr,kiprinos,41.575556,26.230556,,,,
13019,gb,wakefield,53.700000,-1.483333,,,,
23690,mx,cuanajo,19.483333,-101.516667,,,,
1951,bg,godec,43.015000,23.044167,,,,

In [ ]:
my_tups=[]
log_file=open('logfile.log','w')

for row in random_cities.itertuples():
    country_,city_,lat_,long_=getattr(row,"Country"),getattr(row,"City"),getattr(row,'Latitude'),getattr(row,"Longitude")
    
    url="http://api.openweathermap.org/data/2.5/weather?lat={}&lon={}&appid={}".format(lat_,long_,"adabf952ce676f5038cb9a0e2556e9c9") 
    info=  requests.get(url).json()
    log_file.write("City:{}, url:{}\r\n".format(city_,url))
    
    temp=(info["main"]["temp"]-273)*(9/5)+32
    humidity=info["main"]["humidity"]
    clouds=info["clouds"]["all"]
    wind=info["wind"]["speed"]
    
    my_tups.append((country_,city_,lat_,long_,temp,humidity,clouds,wind))
 
log_file.close()

In [ ]:
new_df=pd.DataFrame(my_tups,columns=['Country','City','Latitude','Longitude','Temperature','Humidity','Cloudiness','Wind Speed'])
new_df.head()
new_df.to_csv("new_df.csv")

In [ ]:
# Make scatterplots
plt.scatter(x=new_df['Latitude'], y=new_df['Temperature'], marker="o", facecolors="red", edgecolors="black", alpha=0.75)
plt.title("Temperature(F) VS Latitude")
plt.xlabel("Latitude")
plt.ylabel("Temperature (F)")
fig=plt.gcf()
plt.show()
fig.savefig("Lat_Temp.png")

In [ ]:
plt.scatter(x=new_df['Latitude'], y=new_df['Humidity'], marker="o", facecolors="blue", edgecolors="black", alpha=0.75)
plt.title("Humidity (%) VS Latitude")
plt.xlabel("Latitude")
plt.ylabel("Humidity (%)")
fig=plt.gcf()
plt.show()
fig.savefig("Lat_Hum.png")

In [ ]:
plt.scatter(x=new_df['Latitude'], y=new_df['Cloudiness'], marker="o", facecolors="red", edgecolors="black", alpha=0.75)
plt.title("Cloudiness(%) VS Latitude")
plt.xlabel("Latitude")
plt.ylabel("Cloudiness (%)")
fig=plt.gcf()
plt.show()
fig.savefig("Lat_Cloud.png")

In [ ]:
plt.scatter(x=new_df['Latitude'], y=new_df['Wind Speed'], marker="o", facecolors="blue", edgecolors="black", alpha=0.75)
plt.title("Windspeed(MPH) VS Latitude")
plt.xlabel("Latitude")
plt.ylabel("Windspeed (MPH)")
fig=plt.gcf()
plt.show()
fig.savefig("Lat_Wind.png")
plt.show()

In [ ]:
#Trends
# 1) The further you go from to equator to positive latitude, the higher the wind speeds.
# 2) Further you go from the equator to positive latitude, the more cloudy.
# 3) My data is more concentrated in some areas. In reviewing with other classmates, my data had less cities in the data frame. 
# For next time I would spend more time orgnizing the citites by their latitude and choosing from quartiles to make my data more 
# comprehensive.  I guess the random function was not as random as originally anticipated!